*{
    box-sizing: border-box;
    margin: 0;
    padding: 5px;
    color:#263238
}

section{
    display:space-around;
    flex-direction: column;
    align-items: baseline;
}

.book_box{
    margin: 50px 30% 0 30%;

}
.book_title{
    border: 1px solid gray;
    margin: 5px 30% 0 30%;
    padding: 5px;
    text-align: center;
    background-color: #50e0c8;
}

.books_container{
    margin: 50px 30% 0 30%;;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

.book_item{
    border: 1px solid gray;
    width: 24%;
    padding: 10px 15px;
    background-color: #8d8ea1;
    margin-bottom: 20px;
}