.book_title{
    border: 2px solid rgb(17, 15, 4);
    margin: 10px 30% 10px 30%;
    padding: 3%;
    background-color: rgb(78, 97, 185);
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.book_box{
    margin: auto;
    width: 80%;
}
.input1_book{
    padding: 3% 5% 3% 5%;
    background-color: yellow;
}
.input2_book{
    padding: 3% 5% 3% 5%;
    background-color: yellow;
}
.input3_book{
    padding: 3% 5% 3% 5%;
    background-color: yellow;
}
.input4_book{
    padding: 3% 5% 3% 5%;
    background-color: yellow;
}
.input5_book{
    padding: 3% 5% 3% 5%;
    background-color: yellow;
}
.input6_book{
    padding: 3% 5% 3% 5%;
    background-color: yellow;
}
.input7_book{
    padding: 3% 5% 3% 5%;
    background-color: yellow;
}

.btn{
    padding: 3% 5% 3% 5%;
    background-color: greenyellow;
}

.books_container{
    padding: 10px 20px;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

