<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        <h1>Book Store</h1>
        <input type="text" name="title" placeholder="Заголовок"><br><br>
        <input type="text" name="subtitle" placeholder="Подзаголовок"><br><br>
        <input type="text" name="descrition" placeholder="Описание"><br><br>
        <input type="number" name="price" placeholder="Цена"><br><br>
        <input type="text" name="genre" placeholder="Жанр"><br><br>
        <input type="text" name="author" placeholder="Автор"><br><br>
        <input type="datetime-local" name="year" placeholder="Год"><br><br>
        <button>Добавить</button>
    </form>
    {% for book in books %}
        <div>
                <h3>{{book.title}} - {{book.author}}</h3>
        </div>
    {% endfor %}
</body>
</html>